
body { 
	margin: 0px;

}

#background{display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
	height:200px;
	width:300px;
	position:relative;
	left:450px;
	top:450px;
	border:none;
	outline:none;
	visibility:visible;

}
#Titre{
	position:absolute;
	display: block;
	width:100%;
	height:10%;
	left:0%;
	top:45%;
	font-family:Timeless;
	font-size:50px;
	text-align:center;
	visibility:visible;
}
#ContainerTexte1{
	position:relative;
	display: block;
	width:100%;
	height:30%;
	font-family:Timeless;
	font-size:30px;
	text-align:left;
	visibility:visible;}
	
#next{
	position:absolute;
	width:20%;
	right:3%;
	bottom:3%;
	border:none;
	outline:none;
	font-family:Timeless;
	font-size:18px;
}

#flecheNext{
	position:absolute;
	width:30%;
	right:0%;
	bottom:0%;
	visibility:visible;
}

#fleche2{
	position:absolute;
	width:30%;
	right:0%;
	bottom:0%;
	visibility:hidden;
}

#prev{
	visibility:hidden;
	position:absolute;
	width:20%;
	left:5%;
	bottom:3%;
	border:none;
	outline:none;
	font-family:Timeless;
	text-align:right;
	font-size:18px;
}

#flechePrev{
	position:absolute;
	width:30%;
	left:0%;
	bottom:0%;
}

#home{
	width:5%;
	position:absolute;
	left:2%;
	top:2%;
}